{% extends 'base.html' %}

{% block content %}
<h2 class="mt-4">Listado de Coordinadores</h2>
<a type="button" class="btn btn-primary mb-4" href="/coordinadores/agregar/">Agregar</a>
<table class="table table-striped table-bordered">
    <thead class="table-light">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>DNI</th>
                <th>Fecha De Alta</th>
                <th>Activo</th>
                <th>Funcionalidades</th>
            </tr>
        </thead>
        <tbody>
            {% for coordinador in coordinadores %}
                <tr>
                    <td>{{ coordinador.id }}</td>
                    <td>{{ coordinador.nombre }}</td>
                    <td>{{ coordinador.apellido }}</td>
                    <td>{{ coordinador.dni }}</td>
                    <td>{{ coordinador.fecha_alta }}</td>
                    <td>{{ coordinador.activo }}</td>
                     {% if coordinador.activo %}
                        <td><img src="{{ static('images/check.png') }}"></td>
                        <td>
                            <a type="button" class="btn btn-danger" href="{{ '/coordinadores/desactivar' }}/{{ coordinador.id }}">Desactivar</a>
                            <a type="button" class="btn btn-primary" href="{{ '/coordinadores/modificar' }}/{{ coordinador.id }}">
                                <img src="{{ static('images/edit.png') }}">
                            </a>
                        </td>
                    {% else %}
                        <td><img src="{{ static('images/multiply.png') }}"></td>
                        <td>
                            <a type="button" class="btn btn-success" href="{{ '/coordinadores/activar' }}/{{ coordinador.id }}">Activar</a>
                            <a type="button" class="btn btn-primary" href="{{ '/coordinadores/modificar' }}/{{ coordinador.id }}">
                                <img src="{{ static('images/edit.png') }}">
                            </a>
                        </td>
                    {% endif %}
               </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
