{% extends 'base.html' %}

{% block content %}
    <a href="/servicios/agregar/">Agregar</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Activo</th>
                <th>Funcionalidades</th>
            </tr>
        </thead>
        <tbody>
            {% for servicio in servicios %}
                <tr>
                    <td>{{ servicio.id }}</td>
                    <td>{{ servicio.nombre }}</td>
                    <td>{{ servicio.descripcion }}</td>
                    <td>{{ servicio.precio }}</td>
                    <td>{{ servicio.activo }}</td>
                    <td>
                    {% if servicio.activo %}
                        <a href="{{ '/servicios/desactivar' }}/{{ servicio.id }}">Desactivar</a>
                    {% else %}
                        <a href="{{ '/servicios/activar' }}/{{ servicio.id }}">Activar</a>
                    {% endif %}
                        <a href="{{ '/servicios/modificar' }}/{{ servicio.id }}">Modificar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>    
{% endblock %}