{% extends 'base.jinja' %}

{% block content %}
 
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>nombre</th>
                <th>apellido</th>
                <th>activo</th>
            </tr>
            <tbody>
                {% for cliente in clientes %}
                    <tr>
                        <td>{{ cliente.id }}</td>
                        <td>{{ cliente.nombre }}</td>
                        <td>{{ cliente.apellido }}</td>
                        <td>{{ cliente.activo }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </thead>
    </table>    
{% endblock %}