{% extends 'base.html' %}

{% block content %}
<a href="/reservas/agregar/">Agregar</a>
    <table>
        <thead>
            <tr>
                <th>Servicio</th>
                <th>Fecha de reserva</th>
                <th>Fecha de servicio</th>
                <th>Cliente</th>
                <th>Coordinador</th>
                <th>Empleado</th>
                <th>Activo</th>
                <th>Funcionalidades</th>
            </tr>
        </thead>
        <tbody>
            {% for reserva in reservas %}
                <tr>
                    <td>{{ reserva.id }}</td>
                    <td>{{ reserva.servicio }}</td>
                    <td>{{ reserva.fecha_reserva }}</td>
                    <td>{{ reserva.fecha_servicio }}</td>
                    <td>{{ reserva.cliente }}</td>
                    <td>{{ reserva.coordinador }}</td>
                    <td>{{ reserva.empleado }}</td>
                    <td>{{ reserva.activo }}</td>
                    <td>
                        {% if coordinador.activo %}
                            <a href="{{ '/reservas/desactivar' }}/{{ reserva.id }}">Desactivar</a>
                        {% else %}
                            <a href="{{ '/reservas/activar' }}/{{ reserva.id }}">Activar</a>
                        {% endif %}
                            <a href="{{ '/reservas/modificar' }}/{{ reserva.id }}">Modificar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>    
{% endblock %}