{% extends 'base.jinja' %}

{% block content %}
<h2>Modificar Un Cliente</h2>

<form action="" method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    {{ formulario }}
    <button type="submit">Modificar</button>
</form>

{% endblock %}